.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.table_cell {
}
.connector {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
._形状 {
}
._背景-全局-白色 {
  font-size:14px;
  color:#212121;
}
._侧边栏 {
}
._图片_ {
}
._分割线 {
}
._新的样式4 {
}
._图标 {
}
._新的样式6 {
}
._输入框2 {
  font-size:14px;
  color:rgba(0, 8, 25, 0.247058823529412);
}
.form_hint1 {
  color:#999999;
}
._表格-表头 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:2px;
  text-align:left;
}
._表格-内容 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#212121;
  text-align:left;
}
._工号 {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#212121;
  text-align:left;
}
.new线段 {
}
._形状1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._小标题 {
  font-family:'苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._文本框 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
  text-align:left;
}
.box_11 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
._文本 {
  text-align:left;
}
.tree_node {
  text-align:left;
}
._图像 {
}
._背景-蒙层 {
  font-size:14px;
  color:#212121;
}
._圆角矩形按钮默认 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0E66FB;
}
textarea, select, input, button { outline: none; }
